[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
secure_file_priv = ''
sql_mode=
thread_cache_size       = 4
myisam-recover-options  = BACKUP
table_open_cache	    = 800
transaction-isolation	= READ-COMMITTED

query_cache_limit        = 2M
query_cache_size         = 8M
join_buffer_size         = 32M
tmp_table_size		     = 32M
max_heap_table_size	     = 32M

innodb_flush_log_at_trx_commit = 0
innodb_flush_method     = O_DIRECT

collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8

!includedir /etc/mysql/conf.d/
